.import-button-container {
	display: flex;
	justify-content: center;
}

.btn {
	width: 25rem;
	height: 3rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: #2e32fb;
	color: $color-white;
	position: relative;

	&--import {
		width: 7rem;
		height: 12rem;
		background-color: #2e32fb;
		border: dashed $color-white 2px;
		font-size: 3.5rem;
		color: $color-white;
		background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#2e32fb, 0.8));
		&::after {
			background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#2e32fb, 0.8));
		}
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
		&::after {
			transform: scalex(1.2) scaleY(1.2);
			opacity: 0;
		}
	}

	&--animated {
		animation: mov-bottom-in 2s 0.75s;
		animation-fill-mode: backwards;
	}
}

/*----------------------Tablet portrait section----------------------*/
@media screen and (min-width: 600px) and (max-width: 900px) {
	.btn {
		font-size: 1rem;

		&--import {
			font-size: 2.5rem;
		}
	}
}

/*------------------------Mobile section----------------------*/
@media screen and (max-width: 599px) {
	.btn {
		font-size: 0.9rem;
		width: 100%;

		&--import {
			width: 5rem;
			height: 8rem;
			font-size: 2rem;
		}
	}
}
