.footer {
	font-size: 1rem;
	font-weight: 700;
	background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#cdcefd, 0.8));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	text-align: center;
}

/*----------------------Tablet landscape section----------------------*/
@media screen and (min-width: 900px) and (max-width: 1199px) {
}

/*----------------------Tablet portrait section----------------------*/
@media screen and (min-width: 600px) and (max-width: 900px) {
}

/*------------------------Mobile section----------------------*/
@media screen and (max-width: 599px) {
	.footer {
		font-size: 0.7rem;
	}
}
