.btn {
	// &:link,
	// &:visited {
	// 	text-transform: uppercase;
	// 	text-decoration: none;
	// 	padding: 1.5rem 4rem;
	// 	display: inline-block;
	// 	border-radius: 5rem;
	// 	transition: all 0.2s;
	width: 150px;
	height: 200px;
	background-color: #2e32fb;
	border: dashed white 2px;
	font-size: 70px;
	color: white;
	position: relative;
	// }
	&::after {
		content: ''; /* Always we need this atribbute for this aplication */
		display: inline-block; /* we put this display because the main btn have this too */
		/* we need this btn looks exactly equal to the main btn, for this reason we put the next description */
		height: 100%;
		width: 100%;
		border-radius: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s;
	}

	&--white {
		// background-color: #2e32fb;
		// background-color: #89323b;
		background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#2e32fb, 0.8));
		color: $color-grey-dark;
		&::after {
			// background-color: #2e32fb;
			// background-color: #89323b;
			background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#2e32fb, 0.8));
		}
	}

	&:hover {
		transform: translateY(-10px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
		&::after {
			transform: scalex(1.2) scaleY(1.2);
			opacity: 0;
		}
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
	}

	&--animated {
		animation: mov-bottom-in 2s 0.75s;
		animation-fill-mode: backwards;
	}
}
