.footer {
	font-size: 1.5rem;
	font-weight: 700;
	background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#cdcefd, 0.8));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	text-align: center;
	// text-transform: uppercase;
	// transition: all 0.5s;
}
