* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
}

html,
body {
	background-color: #011f2a;
	color: white;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 2.7rem;
}

.mt-10 {
	margin-top: 10rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-5 {
	margin-bottom: 2.7rem;
}

.mb-10 {
	margin-bottom: 10rem;
}

.pointer {
	cursor: pointer;
}

.center-text {
	text-align: center;
}
