// Colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$color-white: #fff;
$color-black: #000;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// Pilas esto debo modificarlo

/* ----------------- COLORS --------------------*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: rgb(255, 255, 255);
$color-white: #fff;
$color-black: #000;

/* FONT SIZES */

$default-font-size: 1.6rem;
