.text-header-main {
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 4rem;

	&--primary {
		display: block;
		font-size: 4rem;
		font-weight: 400;
		letter-spacing: 2.5rem;
		padding-left: 4rem;
		animation: mov-left-in 2s;
	}

	&--secondary {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.5rem;
		padding-left: 2rem;
		animation: mov-right-in 2s;
	}
}

.text-secondary {
	font-size: 1.5rem;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right bottom, rgba(#ee3efe, 0.8), rgba(#cdcefd, 0.8));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	text-transform: uppercase;
	transition: all 0.5s;

	&:hover {
		transform: scale(1.05);
		text-shadow: 0rem 1rem 0.5rem rgba($color-black, 0.1);
	}
}

/*----------------------Tablet landscape section----------------------*/
@media screen and (min-width: 900px) and (max-width: 1199px) {
	.text-header-main {
		&--primary {
			font-size: 3rem;
		}

		&--secondary {
			font-size: 2rem;
		}
	}
}

/*----------------------Tablet portrait section----------------------*/
@media screen and (min-width: 600px) and (max-width: 900px) {
	.text-header-main {
		&--primary {
			font-size: 1.5rem;
			letter-spacing: 1.8rem;
		}

		&--secondary {
			font-size: 1.3rem;
		}
	}
	.text-secondary {
		font-size: 1.3rem;
	}
}

/*------------------------Mobile section----------------------*/
@media screen and (max-width: 599px) {
	.text-header-main {
		&--primary {
			font-size: 1.2rem;
			letter-spacing: 1rem;
			padding-left: 3rem;
		}

		&--secondary {
			font-size: 1rem;
			padding-left: 1rem;
		}
	}
	.text-secondary {
		font-size: 1rem;
	}
}
